
--Tao database 

create database [QuanLyThuvien]
--Tao Danh Sach PHIEU 
CREATE TABLE [dbo].[DanhSachPhieu](
	[MaPhieu] [char](10) NULL,
	[MaSach] [char](10) NULL,
	[SL] [int] NULL
) 
--Tao bang doc gia

CREATE TABLE [dbo].[Docgia](
	[MaDG] [char](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[NgaySinh] [date] NULL,
	[Diachi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	PRIMARY KEY ([MaDG])
)	

--Tao bang Nhan vien

CREATE TABLE [dbo].[Nhanvien](
	[MaNV] [char](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[NgaySinh] [date] NULL,
	[Diachi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhanQuyen] [nvarchar](20) NULL,
PRIMARY KEY ([MaNV])
) 
--Tao TABLE Phieu
CREATE TABLE [dbo].[Phieu](
	[MaPhieu] [char](10) NOT NULL,
	[MaDG] [char](10) NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
	[LoaiPhieu] [nvarchar](20) NULL,
	[Tong] [int] NULL,
		PRIMARY KEY ([MaPHIEU])
)

--Tao table quan ly phieu 
CREATE TABLE [dbo].[QuanLyPhieu](
	[MaNV] [char](10) NULL,
	[MaPH] [char](10) NULL
)

--Tao table quan ly sach 
CREATE TABLE [dbo].[QuanLySach](
	[MaNV] [char](10) NULL,
	[MaSach] [char](10) NULL
) 
--Tao bang   sach
CREATE TABLE [dbo].[Sach](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[MaTL] [char](10) NULL,
	[SL] [int] NULL,
	[NXB] [nvarchar](50) NULL,
	[NgayNhap] [date] NULL,
	[NoiDung] [nvarchar](max) NULL,
  PRIMARY KEY ([MaSach])
) 

--Tao bang  tac gia
CREATE TABLE [dbo].[TacGia](
	[MaTG] [char](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiThieu] [nvarchar](max) NULL,
  PRIMARY KEY ([MaTG])
  )
 --Tao bang doc tac gia viet sach

CREATE TABLE [dbo].[TacGiaVietSach](
	[Masach] [char](10) NULL,
	[MaTG] [char](10) NULL
) 

--Tao bang Tai Khoan

CREATE TABLE [dbo].[TaiKhoan](
	[MaNV] [char](10) NULL,
	[MK] [nvarchar](10) NULL
)

--Tao bang  the loai


CREATE TABLE [dbo].[TheLoai](
	[MaTL] [char](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[ThongTin] [nvarchar](max) NULL,
	  PRIMARY KEY ([MaTL])
)

INSERT [dbo].[DanhSachPhieu] ([MaPhieu], [MaSach], [SL]) VALUES (N'PM100001  ', N'SG100008  ', 1)
INSERT [dbo].[DanhSachPhieu] ([MaPhieu], [MaSach], [SL]) VALUES (N'PM100001  ', N'SG100007  ', 1)
INSERT [dbo].[DanhSachPhieu] ([MaPhieu], [MaSach], [SL]) VALUES (N'PM100006  ', N'SG100009  ', 1)
GO
INSERT [dbo].[Docgia] ([MaDG], [Ten], [GioiTinh], [SDT], [NgaySinh], [Diachi], [Email]) VALUES (N'5951071111', N'Pham Trong Truong 1', N'Nam', N'0353573467', CAST(N'2020-07-16' AS Date), N'Quận 9', N'truong@gmail.com')
INSERT [dbo].[Docgia] ([MaDG], [Ten], [GioiTinh], [SDT], [NgaySinh], [Diachi], [Email]) VALUES (N'5951071112', N'Trần Đức Vũ', N'Nam', N'0363636569', CAST(N'2000-07-01' AS Date), N'Quận 9', N'Tranducvu23@gmail.com')
INSERT [dbo].[Docgia] ([MaDG], [Ten], [GioiTinh], [SDT], [NgaySinh], [Diachi], [Email]) VALUES (N'5951071113', N'Trần Đức Bo', N'Nam', N'0365696844', CAST(N'1999-07-03' AS Date), N'Quận 10', N'Ducbo@gmail.com')
GO
INSERT [dbo].[Nhanvien] ([MaNV], [Ten], [GioiTinh], [SDT], [NgaySinh], [Diachi], [Email], [PhanQuyen]) VALUES (N'NV100000  ', N'Trường', N'Nam', N'0353573467', CAST(N'2020-07-10' AS Date), N'Quận 9', N'truong@gmail.com', N'Nhân Viên')
INSERT [dbo].[Nhanvien] ([MaNV], [Ten], [GioiTinh], [SDT], [NgaySinh], [Diachi], [Email], [PhanQuyen]) VALUES (N'NV100002  ', N'Tuấn', N'Nam', N'0369696896', CAST(N'2000-07-14' AS Date), N'Quận 9', N'Tuanml@gmail.com', N'Nhân Viên')
INSERT [dbo].[Nhanvien] ([MaNV], [Ten], [GioiTinh], [SDT], [NgaySinh], [Diachi], [Email], [PhanQuyen]) VALUES (N'NV100004  ', N'Vũ', N'Nam', N'0369696896', CAST(N'2000-03-14' AS Date), N'Quận 9', N'Vuml@gmail.com', N'Nhân Viên')
GO
INSERT [dbo].[Phieu] ([MaPhieu], [MaDG], [NgayMuon], [NgayTra], [LoaiPhieu], [Tong]) VALUES (N'PM100000  ', N'5951071111', CAST(N'2020-07-07' AS Date), CAST(N'2020-07-21' AS Date), N'Phieu Tra', 1)
INSERT [dbo].[Phieu] ([MaPhieu], [MaDG], [NgayMuon], [NgayTra], [LoaiPhieu], [Tong]) VALUES (N'PM100001  ', N'5951071119', CAST(N'2020-07-08' AS Date), CAST(N'2020-07-22' AS Date), N'Phieu Tra', 5)
INSERT [dbo].[Phieu] ([MaPhieu], [MaDG], [NgayMuon], [NgayTra], [LoaiPhieu], [Tong]) VALUES (N'PM100002  ', N'5951071117', CAST(N'2020-07-08' AS Date), CAST(N'2020-07-22' AS Date), N'Phieu Tra', 6)
GO
INSERT [dbo].[QuanLyPhieu] ([MaNV], [MaPH]) VALUES (N'NV100000  ', N'PM100001  ')
INSERT [dbo].[QuanLyPhieu] ([MaNV], [MaPH]) VALUES (N'NV100005  ', N'PM100001  ')
INSERT [dbo].[QuanLyPhieu] ([MaNV], [MaPH]) VALUES (N'NV100002  ', N'PM100001  ')
GO
INSERT [dbo].[QuanLySach] ([MaNV], [MaSach]) VALUES (N'NV100000  ', N'SG100000  ')
INSERT [dbo].[QuanLySach] ([MaNV], [MaSach]) VALUES (N'NV100005  ', N'SG100000  ')
INSERT [dbo].[QuanLySach] ([MaNV], [MaSach]) VALUES (N'NV100002  ', N'SG100000  ')
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTL], [SL], [NXB], [NgayNhap], [NoiDung]) VALUES (N'SG100000  ', N'Lập trình và cuộc sống ', N'TL100004  ', 29, N'NXB Thanh Niên', CAST(N'2020-07-07' AS Date), N'Anh cần một cách để theo dõi sự phát triển của phần mềm theo thời gian-bất cứ điều gì anh ta nghĩ đến hoặc làm việc trên nó. Jeff đã nghiên cứu các chủ đề mà anh cảm thấy thú vị, sau đó ghi lại nghiên cứu của mình bằng một bài đăng trên blog mà anh có thể dễ dàng tìm lại và tham khải sau này.')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTL], [SL], [NXB], [NgayNhap], [NoiDung]) VALUES (N'SG100001  ', N'Giáo Trình C++ & Lập Trình Hướng Đối Tượng', N'TL100004  ', 18, N'NXB Hồng Đức', CAST(N'2020-07-07' AS Date), N'Giáo trình C++ & lập trình hướng đối tượng” trình bày một cách hệ thống các khái niệm của lập trình hướng đối tượng được cài đặt trong C++ như lớp, đối tượng, sự thừa kế, tính tương ứng bội và các khả năng mới trong xây dựng, sử dụng hàm như đối tham chiếu, đối mặc định, hàm trùng tên, hàm toán tử.')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTL], [SL], [NXB], [NgayNhap], [NoiDung]) VALUES (N'SG100002  ', N'Lập Trình Với C# ', N'TL100004  ', 20, N'NXB Thanh Niên', CAST(N'2020-07-07' AS Date), N'Trình bày các khai niên và xây dựng ứng dụng bằng ngôn ngữ c#')
GO
INSERT [dbo].[TacGia] ([MaTG], [Ten], [NgaySinh], [GioiThieu]) VALUES (N'TG100000  ', N'Jeff Atwood', CAST(N'2020-09-07' AS Date), N'aaa')
INSERT [dbo].[TacGia] ([MaTG], [Ten], [NgaySinh], [GioiThieu]) VALUES (N'TG100001  ', N'Tony Crilly', CAST(N'2020-10-07' AS Date), N'bb')
INSERT [dbo].[TacGia] ([MaTG], [Ten], [NgaySinh], [GioiThieu]) VALUES (N'TG100002  ', N'Michio Kaku', CAST(N'2000-02-07' AS Date), N'Không có thông tin')
GO
INSERT [dbo].[TacGiaVietSach] ([Masach], [MaTG]) VALUES (N'SG100011  ', N'TG100025  ')
INSERT [dbo].[TacGiaVietSach] ([Masach], [MaTG]) VALUES (N'SG100010  ', N'TG100024  ')
INSERT [dbo].[TacGiaVietSach] ([Masach], [MaTG]) VALUES (N'SG100006  ', N'TG100002  ')
GO
INSERT [dbo].[TaiKhoan] ([MaNV], [MK]) VALUES (N'NV100000  ', N'123')
INSERT [dbo].[TaiKhoan] ([MaNV], [MK]) VALUES (N'NV100005  ', N'12345')
INSERT [dbo].[TaiKhoan] ([MaNV], [MK]) VALUES (N'NV100002  ', N'123')
GO
INSERT [dbo].[TheLoai] ([MaTL], [Ten], [ThongTin]) VALUES (N'TL100000  ', N'Điện , Điện Tử , Tự Động Hóa', N'Không có thông tin')
INSERT [dbo].[TheLoai] ([MaTL], [Ten], [ThongTin]) VALUES (N'TL100001  ', N'Khoa Học', N'Không có thông tin')
INSERT [dbo].[TheLoai] ([MaTL], [Ten], [ThongTin]) VALUES (N'TL100003  ', N'Tham Khảo', N'Không có thông tin')
GO
ALTER TABLE [dbo].[DanhSachPhieu]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachPhieu_Phieu] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[Phieu] ([MaPhieu])
GO
ALTER TABLE [dbo].[DanhSachPhieu] CHECK CONSTRAINT [FK_DanhSachPhieu_Phieu]
GO
ALTER TABLE [dbo].[DanhSachPhieu]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachPhieu_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[DanhSachPhieu] CHECK CONSTRAINT [FK_DanhSachPhieu_Sach]
GO
ALTER TABLE [dbo].[Phieu]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_Docgia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[Docgia] ([MaDG])
GO
ALTER TABLE [dbo].[Phieu] CHECK CONSTRAINT [FK_Phieu_Docgia]
GO
ALTER TABLE [dbo].[QuanLyPhieu]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyPhieu_Nhanvien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[QuanLyPhieu] CHECK CONSTRAINT [FK_QuanLyPhieu_Nhanvien]
GO
ALTER TABLE [dbo].[QuanLyPhieu]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyPhieu_Phieu] FOREIGN KEY([MaPH])
REFERENCES [dbo].[Phieu] ([MaPhieu])
GO
ALTER TABLE [dbo].[QuanLyPhieu] CHECK CONSTRAINT [FK_QuanLyPhieu_Phieu]
GO
ALTER TABLE [dbo].[QuanLySach]  WITH CHECK ADD  CONSTRAINT [FK_QuanLySach_Nhanvien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[QuanLySach] CHECK CONSTRAINT [FK_QuanLySach_Nhanvien]
GO
ALTER TABLE [dbo].[QuanLySach]  WITH CHECK ADD  CONSTRAINT [FK_QuanLySach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[QuanLySach] CHECK CONSTRAINT [FK_QuanLySach_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[TacGiaVietSach]  WITH CHECK ADD  CONSTRAINT [FK_TacGiaVietSach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[TacGiaVietSach] CHECK CONSTRAINT [FK_TacGiaVietSach_TacGia]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Nhanvien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Nhanvien]
GO

